<main class="container mt-4">
  <section class="d-flex justify-content-between">
    <h2>Dashboard</h2>

    @if (editedJob) {
      <section class="gap-2 d-flex">
        <button class="btn btn-danger" (click)="cancelJobEdit()">Cancel</button>
        <button class="btn btn-primary" (click)="saveJob()">Save</button>
      </section>
    } @else {
      <button class="btn btn-primary" (click)="beginJobEdit()">Add Job</button>
    }
  </section>

  @if (editedJob) {
    <textarea class="form-control mt-2" [(ngModel)]="editedJob.jobDescription" rows="10" placeholder="Please enter the job description..."></textarea>
  }

  <table class="table table-striped mt-3">
    <thead class="table-dark">
      <tr>
        <th>Company</th>
        <th>Role</th>
        <th>Status</th>
        <th>Applied Date</th>
      </tr>
    </thead>
    <tbody>
      @for (job of jobs | async; track job.id) {
        <tr>
          <td>{{ job.company }}</td>
          <td>{{ job.role }}</td>
          <td><span class="badge bg-secondary">Status Here</span></td>
          <td>Date Here</td>
        </tr>
      } @empty {
        <p>Loading...</p>
      }
    </tbody>
  </table>
</main>
